body {
    background-color: #2ea7a1;
}

.container {
    background-image: linear-gradient(to right, #6B21A8, rgb(190, 57, 190));
    border: 2px solid #6B21A8;
    height: 200px;
    width: 400px;
}